<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Keep Moving</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#009578">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" sizes="512x512" href="../images/logo_keepmoove.png">
    
    
</head>
<body>
<div class="container-fluid" style="margin-top:50px;">
    <div class="row">
        <div class="col-12">
            <img class="img-responsive d-block mx-auto" src="../public/images/logo_keepmoove.png" height="124px">
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-block mx-auto text-center mt-5 texted">
            <h3>Identifiez-vous</h3><br>
        </div>
            <form  class="col-6 col-md-3 d-block mx-auto text-center">
                <div class="form-group">
                    <div class="col-xs-4">
                        <input type="text" size="50" style="height: 65px; font-size: 25px;" class="form-control" placeholder="prénomNOM"> 
                   </div><br>
                   <div class="col-xs-4">
                       <input type="tel" size="50" style="height:65px; font-size: 25px;" class="form-control" id="exampleInputPassword1" placeholder="N° de Tel">
                   </div><br>
                   <button type="submit" class=" col-sm tna btn-success d-block mx-auto text-center ">CONNEXION</button>
                </div>
                
            </form>
        </div>
</div>
<div class="text-center versiond" >
    <span class="keep font-italic" style="font-size: 30px;">KEEP'</span>
    <span class="mooving" style="font-size: 30px;">Mooving</span>
</div>

           
 
    



    
    <!--Javascript-->
    <script src="../public/js/index.js"></script>
</body>
</html>