<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Keep Moving</title>
    <meta charset="UTF-8" HTTP-EQUIV="Refresh">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="icon" type="image/png" sizes="512x512" href="../public/images/logo_keepmoove.png">
    <link rel="manifest" href="manifest.json">
</head>
<body>
<div class="container-fluid">
   <div class="row">
        <div class="col-4">
            <img class="img-responsive ml-3 mt-3" src="../public/images/logo_keepmoove.png" height="125px">
        </div>
        <div class="col-8 mt-3">
            <span class="keep font-italic">KEEP'</span>
            <span class="mooving">Mooving</span>
        </div>
   </div>
   <hr style="border-top: 5px solid #98999a!important; ">
   <div class="row" style="margin-top:150px; margin-bottom:150px;">
        <div class="col-12 d-block mx-auto text-center mt-5" >
            <span class="text-purple font-weight-light" style="font-size:55px">Heure de</span>
        </div>
        <div class="col-12 d-block mx-auto text-center">
            <span class="text-green " style="font-size:55px">prise en charge</span>
        </div>
   </div>
   <hr style="border-top: 2px solid #98999a!important; width:50%">
   
   <div class="row">
        <div class="col-12 mt-5">
            <label for="appt" class="white text-center" style="font-size:40px">Choisissez l'heure de la prise en charge :</label>
        </div>
        <br>
        <div class="col-12">
            <input class="time_choice d-block mx-auto m-5" type="time" id="appt" name="appt"
            min="09:00" max="18:00" required style="font-size:200px">
        </div>
   </div>
   <div class="row">
        <div class="col-12 mt-5">
            <label for="appt" class="white text-center" style="font-size:40px">Choisissez le jour de la prise en charge :</label>
        </div>
        <br>
        <div class="col-12 mb-5">
            <input class="time_choice d-block mx-auto m-5" type="date" id="start" name="trip-start"
            value="2020-11-20" min="2020-01-01" max="2021-12-31" required style="font-size:100px">
        </div>
    </div>  
   <div class="row mt-5">
    <div class="col-12 mt-5">
        <a href="./priseencharge.html" class="btn btn-success d-block mx-auto w-75 btn">VALIDER</a>
    </div>
   </div>
</div>
    



    <!--Javascript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../public/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>