<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Keep Moving</title>
    <meta charset="UTF-8" HTTP-EQUIV="Refresh">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="src/css/style.css">
    <link rel="icon" type="image/png" sizes="512x512" href="images/logo_keepmoove.png">
</head>
<body>
<div class="container-fluid">
   <div class="row">
        <div class="col-4">
            <img class="img-responsive ml-3 mt-3" src="images/logo_keepmoove.png" height="125px">
        </div>
        <div class="col-8 mt-3">
            <span class="keep font-italic">KEEP'</span>
            <span class="mooving">Mooving</span>
        </div>
   </div>
   <hr style="border-top: 5px solid #98999a!important; ">
   <div class="row" style="margin-top:150px; margin-bottom:150px;">
        <div class="col-12 d-block mx-auto text-center mt-5" >
            <span class="text-purple font-weight-light" style="font-size:55px">Temps restant</span>
        </div>
        <div class="col-12 d-block mx-auto text-center">
            <span class="text-green " style="font-size:55px">avant la prise en charge</span>
        </div>
   </div>
</div>
    
<div class="row">
    <div class="col-12 text-center" style="margin-top: 200px;">
        <span class="timer white" style="font-size:120px"></span>
        <img id="start-record-btn" class="img-responsive d-block mx-auto " style="margin-top:-400px" src="images/btn-2.png" height="700px">
    </div>
</div>

<div class="row">
    <div class="col-12" >
        <div class="alert alert-secondary reveil" id="reveil" role="alert" style="display: none">
            Votre bus arrive dans 30 minutes devant chez vous ! 
            <br>
            <br>
            Merci de vous tenir prêt.
            <button type="button" class="btn btn-light mt-5" style="background-color:white">OK</button>
        </div>
    </div>
</div>
    <!--Javascript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="src/js/timer.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>