body{
    background-color: #3b3b3b;
}
.form-container{
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 10vh;
    

} 

@media only screen and (max-with:678px){
    .form-container{
        padding: 20px;
        text-align: center;
        position: absolute;
        top: 10vh;
        
    
    } 

}

.form-group img{
    width: 150px;
    height: 150px;
    ;
}
.keep{
    color: #BA9CCA!important;
    font-weight: bold!important;
    font-size:75px;
}
.mooving{
    color: #8CBF42!important;
    font-weight: bold!important;
    font-size:65px;
}

.text-purple{
    color: #BA9CCA!important;
}

.text-green{
    color: #8CBF42!important;
}

.white{
    color:#fff;
}

.text-principal{
    font-size:80px;
}

.click{
    margin-left: 350px !important;
    margin-top: 200px;
    font-size: 200px;
}

.text-destination{
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
    background: #3c3a3a;
    border: none;
    color: white;
    font-size: 50px;
}

.btn{
    width: 450px;
height: 125px;
border-radius: 10px;
background-color: #95C11F;
font-size: 50px;
}